# Ignore everything by default
/*

# Whitelist these files specifically

!/.github
!/gradle
!/src

!/.gitattributes
!/.gitignore
!/build.gradle*
!/gradle.properties
!/gradlew
!/gradlew.bat
!/LICENSE
!/README.md
!/settings.gradle*
